body {
    background-color: rgb(36, 34, 34);
}
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.664)),url("https://images.unsplash.com/photo-1575089976121-8ed7b2a54265?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    width: 1355px;
    height: 800px;
    margin-left: -10px;

}

#top {
    font-weight: lighter;
    text-align: center;
    width: 1350px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: -0.2em;
    margin-inline-start: -0.1em;
    background-color: rgb(0, 255, 157);
    color: rgb(255, 0, 98);
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 40px;
    margin-top: 0px;
}
li { 
    font-family: monospace;
    font-size: 20px;
    padding-left: 0px;
    color: white;
    margin-top: -25px;
    margin-left: 0px;
    text-decoration: none;
}
#python {
    font-size: 20px;
    text-decoration: none;
    color: rgba(231, 108, 78, 0.63);
}
#python:hover {
    font-weight: bold;
    font-style: italic;
    font-size:20px;
    color: rgb(209, 75, 34);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 1px;
}
h6 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#assistant {
    font-family: monospace;
    text-decoration: none;
    color: rgba(231, 108, 78, 0.63);
    margin-top: 25px;
    margin-left: 10px;
    font-size: 20px;
}
#assistant:hover {
    font-weight: bold;
    font-style: italic;
    font-size:20px;
    color: rgb(209, 75, 34);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 1px;
}
::marker {
    color: rgba(231, 108, 78, 0.63);
}

    
/* redmi note 8 */
@media (min-width: 392px) and (max-width: 394px) {
    #top {
        width: 393px;
    }
    header {
        width: 393px;
    }
}
/* moto g 4 */
@media (width: 360px) {
    #top {
        width: 360px;
    }
    header {
        width: 360px;
    }
}
/* pixel 2 */
@media (min-width: 410px) and (max-width: 412px) {
    #top {
        width: 410px;
    }
    header {
        width: 410px;
    }
}
/* iphone 5 */
@media (min-width: 319px) and (max-width: 321px) {
    #top {
        width: 319px;
    }
    header {
        width: 319px;
    }
}
/* iphone 6,7,8 */
@media (min-width: 374px) and (max-width: 376px) {
    #top {
        width: 374px;
    }
    header {
        width: 374px;
    }
}
/* iphone 6,7,8 plus */
@media (min-width: 413px) and (max-width: 415px) {
    #top {
        width: 413px;
    }
    header {
        width: 413px;
    }
}